<!DOCTYPE html>
<html>

<head>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    h1 {
      text-align: center;
    }

    .expression {
      font-size: 3rem;
      text-align: right;
    }

    .equals {
      font-size: 3rem;
      text-align: center;
    }

    .answer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
    }

    .el-row {
      margin-bottom: 4px;
    }

    .el-row:last-child {
      margin-bottom: 0;
    }

    .el-col {
      position: relative;
      border-radius: 4px;
    }

    .font-bold {
      font-weight: bold;
    }

    .bg-purple-dark {
      background: #99a9bf;
    }

    .bg-purple {
      background: #d3dce6;
    }

    .bg-purple-light {
      background: #e5e9f2;
    }

    .grid-content {
      position: relative;
      border-radius: 4px;
      min-height: 72px;
      transition: background-color 0.2s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .grid-content:active {
      background-color: #88a0ab;
    }

    .grid-content>span {
      margin: auto;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .row {
      padding: 10px 0;
    }

    .row-bg {
      padding: 10px 0;
      background-color: #f9fafc;
    }

    .text-center {
      text-align: center;
    }

    .small {
      font-size: .8em;
      color: grey;
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity .5s, height .5s;
    }

    .fade-enter,
    .fade-leave-to {
      opacity: 0;
      height: 0;
    }
  </style>
</head>

<body>
  <div id="app">

    <h1>{{ titleHeader }}</h1>
    <div v-show="scene=='startpage'" class="top">

      <el-row justify="center" class="row text-center">
        <p>頭の体操・運動にぴったり。まずはカンタンからどうぞ。</p>
        <p>カンタンは、5問。</p>
        <p>ふつうは、10問。</p>
        <p>難しいは、15問。</p>
      </el-row>
      <el-row type="flex" class="row" justify="center">
        <el-radio-group v-model="level">
          <el-radio :label="LEVEL_EASY">{{ LEVEL_EASY }}</el-radio>
          <el-radio :label="LEVEL_NORMAL">{{ LEVEL_NORMAL }}</el-radio>
          <el-radio :label="LEVEL_HARD">{{ LEVEL_HARD }}</el-radio>
        </el-radio-group>
      </el-row>
      <el-row type="flex" class="row-bg" justify="center">
        <el-button @click="startCountDown" type="primary" round>スタート！</el-button>
      </el-row>
    </div>

    <transition name="countdown">
      <div v-show="scene=='countdownpage'">
        <el-row type="flex" class="row-bg" justify="center">
          <h1>{{ countdownSec }}</h1>
        </el-row>
      </div>
    </transition>

    <transition name="fade">
      <div v-show="scene=='quizpage'">
        <el-row type="flex" justify="center">
          <div class="progress">{{ currentQNumberForDisplay }} / {{ maxQNumber }}</div>
        </el-row>

        <el-divider></el-divider>

        <el-row type="flex" justify="center">
          <el-col :span="10">
            <div class="expression font-bold">{{ currentQuestion.question }}</div>
          </el-col>
          <el-col :span="2">
            <div class="equals font-bold">=</div>
          </el-col>
          <el-col :span="10">
            <el-input class="answer" placeholder="答えを入力" v-model="currentQuestion.answer"></el-input>
          </el-col>
        </el-row>

        <el-divider></el-divider>

        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="6">
            <div @click.stop="inputNumber(1)" class="grid-content bg-purple"><span>1</span></div>
          </el-col>
          <el-col :span="6">
            <div @click.stop="inputNumber(2)" class="grid-content bg-purple-light"><span>2</span></div>
          </el-col>
          <el-col :span="6">
            <div @click.stop="inputNumber(3)" class="grid-content bg-purple"><span>3</span></div>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="6">
            <div @click.stop="inputNumber(4)" class="grid-content bg-purple"><span>4</span></div>
          </el-col>
          <el-col :span="6">
            <div @click.stop="inputNumber(5)" class="grid-content bg-purple-light"><span>5</span></div>
          </el-col>
          <el-col :span="6">
            <div @click.stop="inputNumber(6)" class="grid-content bg-purple"><span>6</span></div>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="6">
            <div @click.stop="inputNumber(7)" class="grid-content bg-purple"><span>7</span></div>
          </el-col>
          <el-col :span="6">
            <div @click.stop="inputNumber(8)" class="grid-content bg-purple-light"><span>8</span></div>
          </el-col>
          <el-col :span="6">
            <div @click.stop="inputNumber(9)" class="grid-content bg-purple"><span>9</span></div>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="space-around">
          <el-col :span="6">
            <div @click.stop="clearInput" class="grid-content bg-purple"><span>クリア</span></div>
          </el-col>
          <el-col :span=" 6">
            <div @click.stop="inputNumber(0)" class="grid-content bg-purple-light"><span>0</span></div>
          </el-col>
          <el-col :span="6">
            <div @click.stop="nextQ" class="grid-content bg-purple-dark enter"><span>{{ nextBtnText }}</span></div>
          </el-col>
        </el-row>
        <el-divider></el-divider>
        <div class="text-center small">{{ currentTimeStr }}</div>
      </div>
    </transition>

    <transition name="fade">
      <div v-show="scene=='resultpage'">
        <h2>採点！</h2>
        <p>正解は、{{ numCorrectAnswers }}問でした！</p>
        <p>かかった時間は、{{ currentTimeStrJp }}です。</p>

        <el-row type="flex" class="row-bg" justify="center">
          <a class="twitter-share-button" :href="linkResultTweet">
            <el-button type="primary" round>
              <i class="fab fa-twitter fa-lg"></i> ツイート
            </el-button>
          </a>
        </el-row>


        <el-row type="flex" class="row-bg" justify="center">
          <el-button @click="backHome" type="primary" round>もう一度やる！</el-button>
        </el-row>

        <el-table :data="resultTable" stripe empty-text="No Data" style="width: 100%">
          <el-table-column prop="expression" label="問題" width="180">
          </el-table-column>
          <el-table-column prop="answer" label="あなたの解答" width="180">
          </el-table-column>
          <el-table-column prop="ok" label="正否">
          </el-table-column>
          <el-table-column prop="trueAnswer" label="正解">
          </el-table-column>
        </el-table>
      </div>
    </transition>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    /**
     * Return a number in [min, max)
     * 
    */
    function getRandomNumber(min, max) {
      return Math.floor(Math.random() * (max - min)) + min
    }

    const COUNTDOWN_DEFAULT = 3  // sec
    const CURRENT_TIME_INTERVAL = 10  // ms
    const LEVEL_EASY = "カンタン"
    const LEVEL_NORMAL = "ふつう"
    const LEVEL_HARD = "難しい"
    const MAX_EASY = 10
    const MAX_NORMAL = 15
    const MAX_HARD = 30

    class ArimeticQuestion {
      constructor(level) {
        this.level = level
        this.operators = ["+", "-", "×"]
        this.question = this.getQuestion()
        this.answer = ""
      }

      get trueAnswer() {
        let a = this.question.replace("×", "*")
        return Function(`"use strict"; return (${a})`)()
      }

      get isCorrectAnswer() {
        return this.trueAnswer === Number(this.answer)
      }

      getQuestion() {
        let op = this.getRandomOperator()

        let lh, rh
        if (op === "+" || op === "-") {
          lh = this.genNumberAS()
          rh = this.genNumberAS()
        } else {
          // mul op
          lh = this.genNumberM()
          rh = this.genNumberM()
        }
        if (op === "-" && rh > lh) {
          let t = lh
          lh = rh
          rh = t
        }
        return `${lh} ${op} ${rh}`
      }

      getRandomOperator() {
        return this.operators[getRandomNumber(0, this.operators.length)]
      }

      genNumberAS() {
        // generate a number for Add and Sub
        let digit
        switch (this.level) {
          case LEVEL_EASY:
            digit = getRandomNumber(1, 11) < 5 ? 1 : 2
            if (digit === 1) {
              return getRandomNumber(1, 10)
            } else {
              return getRandomNumber(10, 20)
            }
            break
          case LEVEL_NORMAL:
            digit = getRandomNumber(1, 11) < 3 ? 1 : 2
            if (digit === 1) {
              return getRandomNumber(1, 10)
            } else {
              return getRandomNumber(10, 99)
            }
            break
          case LEVEL_HARD:
            digit = getRandomNumber(1, 11) < 5 ? 2 : 3
            if (digit === 2) {
              return getRandomNumber(10, 100)
            } else {
              return getRandomNumber(100, 1000)
            }
            break
        }
      }

      genNumberM() {
        //generate a number for mul
        // TODO: levelごとに生成範囲を指定して返す
        let digit
        switch (this.level) {
          case LEVEL_EASY:
            return getRandomNumber(1, 10)
          case LEVEL_NORMAL:
            digit = getRandomNumber(1, 11) < 4 ? 1 : 2
            if (digit === 1) {
              return getRandomNumber(1, 10)
            } else {
              return getRandomNumber(10, 19)
            }
            break
          case LEVEL_HARD:
            digit = getRandomNumber(1, 11) < 3 ? 1 : 2
            if (digit === 1) {
              return getRandomNumber(2, 10)
            } else {
              return getRandomNumber(11, 100)
            }
            break
        }
      }
    }

    var app = new Vue({
      el: '#app',
      data: {
        scene: "startpage",
        level: LEVEL_EASY,
        countdownSec: COUNTDOWN_DEFAULT,
        countDownTimerid: 0,
        currentQuestion: new ArimeticQuestion(),
        currentTime: 0,  // ms
        currentTimeTimerid: 0,
        answeredQuestions: [],
      },
      computed: {
        titleHeader: function () {
          if (this.scene === "startpage") {
            return "暗算タイムアタック"
          } else {
            return `暗算TA: ${this.level}`
          }
        },
        maxQNumber: function () {
          switch (this.level) {
            case LEVEL_EASY:
              return 5
            case LEVEL_NORMAL:
              return 10
            case LEVEL_HARD:
              return 15
          }
          return 10
        },
        currentTimeStr: function () {
          let ms = Math.floor(this.currentTime % 1000 / 10)  // 上位2桁
          ms = ms < 10 ? '0' + ms : ms
          let sec = Math.floor(this.currentTime / 1000) % 60
          sec = sec < 10 ? '0' + sec : sec
          let min = Math.floor(this.currentTime / 60000)
          min = min < 10 ? '0' + min : min
          return `${min}:${sec}.${ms}`
        },
        currentTimeStrJp: function () {
          let ms = Math.floor(this.currentTime % 1000 / 10)  // 上位2桁
          ms = ms < 10 ? '0' + ms : ms
          let sec = Math.floor(this.currentTime / 1000) % 60
          sec = sec < 10 ? '0' + sec : sec
          let min = Math.floor(this.currentTime / 60000)
          min = min < 10 ? '0' + min : min
          return `${min}分${sec}秒${ms}`
        },
        currentQNumber: function () {
          return this.answeredQuestions.length + 1
        },
        currentQNumberForDisplay: function () {
          const cnt = this.currentQNumber
          return cnt > this.maxQNumber ? this.maxQNumber : cnt
        },
        isNextQLast: function () {
          return this.currentQNumber >= this.maxQNumber
        },
        isLastQ: function () {
          return this.currentQNumber - 1 >= this.maxQNumber
        },
        nextBtnText: function () {
          if (this.isNextQLast) {
            return "終わり！"
          } else {
            return "次へ"
          }
        },
        numCorrectAnswers: function () {
          return this.answeredQuestions.filter(q => q.isCorrectAnswer).length
        },
        resultTable: function () {
          return this.answeredQuestions.map(q => {
            return {
              expression: q.question,
              answer: q.answer,
              ok: q.isCorrectAnswer ? "⭕️" : "❌",
              trueAnswer: q.trueAnswer
            }
          })
        },
        linkResultTweet: function () {
          // https://twitter.com/intent/
          // tweet?text=Hello%20world
          // &url=https%3A%2F%2Fexample.com%2Ffoo
          // &via=twitterdev
          // &hashtags=demo
          // &related=twitterapi%2Ctwitter
          if (this.scene === "resultpage") {
            let text = `難易度 ${this.level} で、${this.maxQNumber}問中${this.numCorrectAnswers}問正解しました！`
            text += `\nクリアタイムは、${this.currentTimeStrJp}です！`

            let inurl = "http://192.168.99.100:8080/calc_practice/main.html"

            let url = `https://twitter.com/intent/tweet?text=${text}&url=${inurl}&via=ikapper&hashtags=暗算TA`
            return encodeURI(url)
          } else {
            return "#"
          }
        }
      },
      methods: {
        inputNumber: function (num) {
          const numstr = String(num)
          if (this.currentQuestion.answer === "0") {
            if (numstr === "0") {
              return
            } else {
              this.currentQuestion.answer = numstr
            }
          } else {
            this.currentQuestion.answer += String(num)
          }
        },
        startCountDown: function () {
          this.countdownSec = COUNTDOWN_DEFAULT
          this.scene = "countdownpage"
          // タイマーによって、カウントを開始する。
          let thisapp = this
          this.countDownTimerid = setInterval(() => {
            thisapp._updateCountDown()
          }, 1000);
        },
        _updateCountDown: function () {
          if (this.countdownSec === 1) {
            clearInterval(this.countDownTimerid)
            this.startQ()
          } else {
            this.countdownSec--
          }
        },
        startQ: function () {
          this.scene = "quizpage"
          this.currentQuestion = new ArimeticQuestion(this.level)
          let thisapp = this
          this.currentTimeTimerid = setInterval(() => {
            thisapp.currentTime += CURRENT_TIME_INTERVAL
          }, CURRENT_TIME_INTERVAL)
        },
        nextQ: function () {
          this.answeredQuestions.push(this.currentQuestion)
          if (this.isLastQ) {
            clearInterval(this.currentTimeTimerid)
            this.scene = "resultpage"
          } else {
            this.currentQuestion = new ArimeticQuestion(this.level)
          }
        },
        clearInput: function () {
          this.currentQuestion.answer = ""
        },
        backHome: function () {
          this.scene = "startpage"
          this.currentTime = 0
          this.answeredQuestions = []
        }
      }
    })
  </script>
</body>

</html>