<!DOCTYPE html>
<html>

<head>
  {% include common_header.html %}
  {% if page.stylesheet %}
  <style>
      {% include css/{{ page.stylesheet }}.css %}
  </style>
  {% endif %}
</head>

<body>
  <div class="jumbotron">
    <h1>
      {{ page.title }} - いろいろなものおき
    </h1>
    {% if page.description %}
    <p>{{ page.description }}</p>
    {% else %}
    <p>ご利用の際の責任は取りかねますのでご留意ください。</p>
    {% endif %}
  </div>

  <div class="container">
    {{content}}
  </div>

  {% include common_footer.html %}
</body>

</html>